/*
font.google.com

*/
html{
    scroll-behavior: smooth;
}
*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1, h2{
     font-family:Verdana, Geneva, Tahoma, sans-serif;
}
img{
    height: 250px;
    width: 250px;
}
#landing{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#gallery{
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}
ul{
    list-style: none;
    padding: 0;
}
h2{
    color: #007bff;
}
.tools{
    height: 200px;
    border: 5px solid #f2f2f2;
    padding: 25px;
    margin: 20px;
    width: 75%;
}